
*.xcuserstate
MyMoney.xcodeproj/project.xcworkspace/xcuserdata/kirill.xcuserdatad/UserInterfaceState.xcuserstate
MyMoney.xcodeproj/xcuserdata/kirill.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MyMoney.xcodeproj/project.xcworkspace/xcuserdata/kirill.xcuserdatad/UserInterfaceState.xcuserstate
MyMoney.xcodeproj/project.xcworkspace/xcuserdata/kirill.xcuserdatad/UserInterfaceState.xcuserstate
