<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>675329910181-579o6sv0uh3oktfp6hvr4e0sv344c74p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.675329910181-579o6sv0uh3oktfp6hvr4e0sv344c74p</string>
	<key>API_KEY</key>
	<string>AIzaSyBANlqBL6A43il-XreSLQmKl6XXO9j0zj0</string>
	<key>GCM_SENDER_ID</key>
	<string>675329910181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>samax.MyMoney</string>
	<key>PROJECT_ID</key>
	<string>mymoney-b4319</string>
	<key>STORAGE_BUCKET</key>
	<string>mymoney-b4319.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:675329910181:ios:409689f2092f46f613744c</string>
	<key>DATABASE_URL</key>
	<string>https://mymoney-b4319.firebaseio.com</string>
</dict>
</plist>